<a href="https://colab.research.google.com/github/LuisAntonioGI13/Python-Curse/blob/main/Bases_de_datos_SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Bases de datos SQLite

¿Qué es una base de datos? También conocidas como bancos de datos son simplemente conjuntos de información. Ya conocéis algunos tipos de datos, como los números, las cadenas de caracteres, las fechas, etc.

##Bases de datos
¿Qué es una base de datos? También conocidas como bancos de datos, son simplemente conjuntos de datos . Ya conocéis algunos tipos de datos, como los números, las cadenas de caracteres, las fechas, etc.

Bueno, pues estos conjuntos de datos hacen referencia a información perteneciente a un mismo contexto. Es decir, si hablamos de los clientes de una empresa, éstos datos comunes de todos los clientes podrían ser sus nombres, apellidos, direcciones, teléfonos… O los productos de una tienda, cada uno con su nombre, precio, descripción, etc.

Por tanto, al ser datos del mismo contexto, las bases de datos permiten almacenarlos sistemáticamente, de forma automatizada, con la finalidad de un posterior uso. Ya sea para realizar consultas, comparativas, análisis, modificaciones o simplemente borrarlos.

Como son programas complejos centrados en la gestión de información, reciben el nombre de SGBD: Sistemas Gestores de Bases de Datos.

La peculiaridad de los SGBD es que implementan sus propios lenguajes internos de programación par realizar las consultas, que pueden ser tan simples como consultar el nombre de todos los clientes de la empresa, o tan complejas como conseguir información de los pedidos de una tienda, a la vez que se consultan los clientes y en un conjunto de fechas determinado.

##Modelos
De todas formas, los tipos de datos y la forma de almacenarlos pueden diferir mucho dependiendo exactamente del contexto, y es por eso que con el tiempo se han ido desarrollando una serie de modelos distintos para gestionar las bases de datos.

* **Jerárquicas:** Utilizan un modelo los datos que se organiza en forma de árbol invertido, en donde un nodo padre de información puede tener varios hijos...
* **De red:** Una mejora del modelo jerárquico que permite a un hijo tener varios padres...
* **Transaccionales:** Cuyo único fin es el envío y recepción de datos a grandes velocidades, estas bases son muy poco comunes
* **Relacionales:** Éste es el modelo utilizado en la actualidad para representar problemas reales y administrar datos dinámicamente. Es en el que nos vamos a centrar, pero hay otros...
* **Documentales:** Permiten guardar texto completo, y en líneas generales realizar búsquedas más potentes. Sirven para almacenar grandes volúmenes de información de antecedentes históricos. Junto a las relacionales son de las más utilizadas en el desarrollo web.
* **Orientadas a objetos:** Este modelo es bastante reciente y propio de los modelos informáticos orientados a objetos, donde se trata de almacenar en la base de datos los objetos completos. Es posible que tome más importancia en el futuro.
* **Deductivas:** Son bases de datos que permiten hacer deducciones. Se basan principalmente en reglas y hechos que son almacenados en la base de datos, por lo que son algo complejas.


##Modelo Relacional
Las bases de datos Relacionales son muy utilizadas actualmente gracias a que es fácil representar y gestionar problemas del mundo real.

Se basan en la idea de crear relaciones entre conjuntos de datos, en los que cada relación es también una tabla. Cada tabla consta de registros, formados por filas y columnas, también conocidos como tuplas y campos.

Evidentemente dentro de las bases de datos relacionales, existen muchos SGBD. La mayoría también son compatibles con Python. Algunos son de pago, otros gratuitos, los hay sencillos y otros muy avanzados. Hagamos un repaso:

* **SQL Server:** Es un sistema de manejo de bases de datos del modelo relacional, desarrollado por la empresa Microsoft y únicamente disponible para sistemas Windows. Es privativo y competidor directo de Oracle, MySQL y PostgreSQL.
* **Oracle:** Database es un sistema de gestión de base de datos de tipo objeto-relacional privativo, desarrollado por Oracle Corporation, considerado como uno de los sistemas más completos. Su dominio en el mercado de servidores empresariales fue casi total hasta la aparición de la competencia. Es multiplataforma y además las últimas versiones de Oracle han sido certificadas para poder trabajar bajo GNU/Linux.
* **MySQL:** Es un sistema de gestión de bases de datos relacional desarrollado bajo licencia dual GPL/Licencia comercial por Oracle Corporation y está considerada como la base datos open source más popular del mundo, y una de las más populares en general junto a Oracle y Microsoft SQL Server, sobre todo para entornos de desarrollo web.
* **PostgreSQL:** Es un Sistema de gestión de bases de datos relacional orientado a objetos y libre. Como muchos otros proyectos de código abierto, el desarrollo de PostgreSQL no es manejado por una empresa o persona, sino que es dirigido por una comunidad de desarrolladores que trabajan de forma desinteresada, altruista, libre o apoyados por organizaciones comerciales.
* **SQLite:** Es un sistema de gestión de bases de datos relacional contenido en una pequeña biblioteca escrita en C. Es un proyecto de dominio público y a diferencia de los otros sistemas que utilizan la arquitectura cliente-servidor, su motor no es un proceso independiente sino que se enlaza con el programa pasando a ser parte integral del mismo. Sin embargo no os dejéis engañar, porque aunque parezca la solución sencilla, SQLite en su tercera versión permite bases de datos de hasta 2 Terabytes de tamaño y muchas otras funcionalidades. En definitiva su configuración es muy sencilla, tan sencilla que no existe, por lo que no dará problemas y es la mejor solución para este curso.


Así que como véis encontramos multitud de SGBD Relacionales. En Python, cada uno de ellos cuenta módulos libres y programas conectores para comunicar las bases de datos y el lenguaje de programación. Sin embargo, pese a que son sistemas distintos, el lenguaje de las consultas no varía mucho, sino sería muy difícil pasar de un sistema a otro y los SGBD no podrían competir entre ellos.

Lo que nos lleva a nuestra última cuestión, ¿qué tienen en común? ¿Qué son esas siglas SQL en sus nombres?

##El lenguaje SQL



A parte de los lenguajes de programación como Python, centrados en la creación de los programas, los SGBD implementan su propia sintaxis o lenguaje propio para realizar consultas y modificaciones en sus registros.

El lenguaje más utilizado en las bases de datos relacionales el lenguaje SQL (Lenguaje de Consulta Estructurada), y es necesario aprenderlo si queremos utilizar este tipo de bases de datos en nuestros programas.

Evidentemente este lenguaje abarca muchísimo, por lo que en esta unidad sólo veremos algunas consultas básicas para utilizar en conjunto con SQLite en nuestros scripts de Python.

##Consultas SQL básicas
###Primeros pasos
Conexión a la base de datos, creación y desconexión:

In [16]:
# Importamos el módulo
import sqlite3

# Nos conectamos a la base de datos ejemplo.db (la crea si no existe)
conexion = sqlite3.connect('ejemplo.db')

# Cerramos la conexión, si no la cerramos quedará abierta
# y no podremos gestionar el fichero
conexion.close()

##Crear una tabla
Antes de ejecutar una consulta (query) en código SQL, tenemos que crear un cursor:

In [17]:
import sqlite3

conexion = sqlite3.connect('ejemplo.db')

# Creamos el cursor
cursor = conexion.cursor()

# Ahora crearemos una tabla de usuarios con nombres, edades y emails
cursor.execute("CREATE TABLE IF NOT EXISTS usuarios " \
    "(nombre VARCHAR(100), edad INTEGER, email VARCHAR(100))")

# Guardamos los cambios haciendo un commit
conexion.commit()

conexion.close()

##Inserción con INSERT

In [18]:
import sqlite3

conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

# Insertamos un registro en la tabla de usuarios
cursor.execute("INSERT INTO usuarios VALUES " \
    "('Hector', 27, 'hector@ejemplo.com')")

# Guardamos los cambios haciendo un commit
conexion.commit()

conexion.close()

##Lectura con SELECT
Recuperando el primer registro con .fetchone():

In [19]:
conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

# Recuperamos los registros de la tabla de usuarios
cursor.execute("SELECT * FROM usuarios")

# Mostrar el cursos a ver que hay ?
print(cursor)

# Recorremos el primer registro con el método fetchone, devuelve una tupla
usuario = cursor.fetchone()
print(usuario)

conexion.close()

<sqlite3.Cursor object at 0x78b7fc301bc0>
('Hector', 27, 'hector@ejemplo.com')

##Inserción múltiple
Insertando varios registros con .executemany():

In [20]:
conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

# Creamos una lista con varios usuarios
usuarios = [('Mario', 51, 'mario@ejemplo.com'),
            ('Mercedes', 38, 'mercedes@ejemplo.com'),
            ('Juan', 19, 'juan@ejemplo.com')]

# Ahora utilizamos el método executemany() para insertar varios
cursor.executemany("INSERT INTO usuarios VALUES (?,?,?)", usuarios)

# Guardamos los cambios haciendo un commit
conexion.commit()

conexion.close()

##Lectura múltiple
Recuperando varios registros con .fetchall():

In [21]:
import sqlite3

conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

# Recuperamos los registros de la tabla de usuarios
cursor.execute("SELECT * FROM usuarios")

# Recorremos todos los registros con fetchall
# y los volcamos en una lista de usuarios
usuarios = cursor.fetchall()

# Ahora podemos recorrer todos los usuarios
for usuario in usuarios:
    print(usuario)

conexion.close()

('Hector', 27, 'hector@ejemplo.com')
('Mario', 51, 'mario@ejemplo.com')
('Mercedes', 38, 'mercedes@ejemplo.com')
('Juan', 19, 'juan@ejemplo.com')
('Hector', 27, 'hector@ejemplo.com')
('Mario', 51, 'mario@ejemplo.com')
('Mercedes', 38, 'mercedes@ejemplo.com')
('Juan', 19, 'juan@ejemplo.com')

#Claves SQL básicas
##Claves primarias
Una clave primaria es un campo especial de una tabla que actúa como identificador único de los registros, en otras palabras, no se puede repetir un registro con la misma clave primaria. Por ejemplo dos usuarios con el mismo DNI:

In [1]:
import sqlite3

conexion = sqlite3.connect('usuarios.db')

cursor = conexion.cursor()

# Creamos un campo dni como clave primaria
cursor.execute('''CREATE TABLE IF NOT EXISTS usuarios (
                    dni VARCHAR(9) PRIMARY KEY,
                    nombre VARCHAR(100),
                    edad INTEGER,
                    email VARCHAR(100))''')

usuarios = [('11111111A', 'Hector', 27, 'hector@ejemplo.com'),
            ('22222222B', 'Mario', 51, 'mario@ejemplo.com'),
            ('33333333C', 'Mercedes', 38, 'mercedes@ejemplo.com'),
            ('44444444D', 'Juan', 19, 'juan@ejemplo.com')]

cursor.executemany("INSERT INTO usuarios VALUES (?,?,?,?)", usuarios)

conexion.commit()
conexion.close()

In [5]:
for usuario in usuarios:
    print(usuario)

conexion.close()

('11111111A', 'Hector', 27, 'hector@ejemplo.com')
('22222222B', 'Mario', 51, 'mario@ejemplo.com')
('33333333C', 'Mercedes', 38, 'mercedes@ejemplo.com')
('44444444D', 'Juan', 19, 'juan@ejemplo.com')

In [3]:
conexion = sqlite3.connect('usuarios.db')

cursor = conexion.cursor()

# Añadimos un usuario con el mismo DNI
cursor.execute("INSERT INTO usuarios VALUES " \
    "('11111111B', 'Fernando', 31, 'fernando@ejemplo.com')")

conexion.commit()
conexion.close()

In [8]:
import sqlite3

conexion = sqlite3.connect('usuarios.db')
cursor = conexion.cursor()

# Recuperamos los registros de la tabla de usuarios
cursor.execute("SELECT * FROM usuarios")

# Recorremos todos los registros con fetchall
# y los volcamos en una lista de usuarios
usuarios = cursor.fetchall()

# Ahora podemos recorrer todos los usuarios
for usuario in usuarios:
    print(usuario)

conexion.close()

('11111111A', 'Hector', 27, 'hector@ejemplo.com')
('22222222B', 'Mario', 51, 'mario@ejemplo.com')
('33333333C', 'Mercedes', 38, 'mercedes@ejemplo.com')
('44444444D', 'Juan', 19, 'juan@ejemplo.com')
('11111111B', 'Fernando', 31, 'fernando@ejemplo.com')

##Claves autoincrementales
No siempre contaremos con claves primarias en nuestras tablas (como el DNI), sin embargo siempre necesitaremos uno para identificar cada registro y poder consultarlo, modificarlo o borrarlo.

Para estas situaciones lo más útil es utilizar campos autoincrementales, campos especiales que asignan automáticamente un número (de uno en uno) al crear un nuevo registro. Es muy útil para identificar de forma única cada registro ya que nunca se repiten.

En SQLite, si indicamos que un campo numérico entero es una clave primaria, automáticamente se tomará como un campo auto incremental. Podemos hacerlo fácilmente así:

In [9]:

conexion = sqlite3.connect('productos.db')

cursor = conexion.cursor()

# Las cláusulas not null indican que no puede ser campos vacíos
cursor.execute('''CREATE TABLE IF NOT EXISTS productos (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    nombre VARCHAR(100) NOT NULL,
                    marca VARCHAR(50) NOT NULL,
                    precio FLOAT NOT NULL)''')

conexion.close()

**¡Problema al insertar registros con campos autoincrementales!**

Al utilizar un nuevo campo autoincremental, la sintaxis sencilla para insertar registros ya no funciona, pues en primer lugar se espera un identificador único, por lo que recibimos un error indicándonos se esperan 4 columnas en lugar de 3:

In [10]:
conexion = sqlite3.connect('productos.db')

cursor = conexion.cursor()

productos = [('Teclado', 'Logitech', 19.95),
            ('Pantalla 19"', 'LG', 89.95)]


#cursor.executemany("INSERT INTO productos VALUES (null,?,?,?)", productos)
cursor.executemany("INSERT INTO productos VALUES (?,?,?)", productos)

conexion.commit()
conexion.close()

OperationalError: table productos has 4 columns but 3 values were supplied

In [11]:
#Para arreglarlo cambiaremos la notación durante la inserción, especificando el valor null para el auto incremento:

import sqlite3

conexion = sqlite3.connect('productos.db')

cursor = conexion.cursor()

productos = [('Teclado', 'Logitech', 19.95),
            ('Pantalla 19"','LG', 89.95),
            ('Altavoces 2.1','LG', 24.95),]

cursor.executemany("INSERT INTO productos VALUES (null,?,?,?)", productos)

conexion.commit()
conexion.close()

In [12]:
for producto in productos:
  print(producto)

('Teclado', 'Logitech', 19.95)
('Pantalla 19"', 'LG', 89.95)
('Altavoces 2.1', 'LG', 24.95)

In [14]:
##Ahora podemos consultar nuestros productos fácilmente con su identificador único

conexion = sqlite3.connect('productos.db')
cursor = conexion.cursor()

# Recuperamos los registros de la tabla de usuarios
cursor.execute("SELECT * FROM productos")

# Recorremos todos los registros con fetchall
# y los volcamos en una lista de usuarios
productos = cursor.fetchall()

# Ahora podemos recorrer todos los productos
for producto in productos:
    print(producto)

conexion.close()

(1, 'Teclado', 'Logitech', 19.95)
(2, 'Pantalla 19"', 'LG', 89.95)
(3, 'Altavoces 2.1', 'LG', 24.95)

##Claves únicas
El problema con las claves primarias es que sólo podemos tener un campo con esta propiedad, y si da la casualidad que utilizamos un campo autoincremental, ya no podemos asignarla a otro campo.

Para estos casos existen las claves únicas, que nos permiten añadir otros campos únicos no repetibles.

Podemos adaptar el ejemplo de los usuarios con un campo autoincremental que haga de clave primaria, y a su vez marcar el DNI como un campo único

In [15]:
import sqlite3

conexion = sqlite3.connect('usuarios_autoincremental.db')

cursor = conexion.cursor()

# Creamos un campo dni como clave primaria
cursor.execute('''CREATE TABLE IF NOT EXISTS usuarios (
                    id INTEGER PRIMARY KEY,
                    dni VARCHAR(9) UNIQUE,
                    nombre VARCHAR(100),
                    edad INTEGER(3),
                    email VARCHAR(100))''')

usuarios = [('11111111A', 'Hector', 27, 'hector@ejemplo.com'),
            ('22222222B', 'Mario', 51, 'mario@ejemplo.com'),
            ('33333333C', 'Mercedes', 38, 'mercedes@ejemplo.com'),
            ('44444444D', 'Juan', 19, 'juan@ejemplo.com')]

cursor.executemany("INSERT INTO usuarios VALUES (null, ?,?,?,?)", usuarios)

conexion.commit()
conexion.close()

Si intentamos añadir un usuario con la misma clave da error de integridad:

In [16]:
# Recuperamos los registros de la tabla de usuarios
cursor.execute("SELECT * FROM usuarios")

# Recorremos todos los registros con fetchall
# y los volcamos en una lista de usuarios
usuarios = cursor.fetchall()

# Ahora podemos recorrer todos los usuarios
for usuario in usuarios:
    print(usuario)

conexion.close()

ProgrammingError: Cannot operate on a closed database.

Con la ventaja de contar con un identificador automático para cada registro:

In [17]:
conexion = sqlite3.connect('usuarios_autoincremental.db')
cursor = conexion.cursor()

# Recuperamos los registros de la tabla de usuarios
cursor.execute("SELECT * FROM usuarios")

# Recorremos todos los registros con fetchall
# y los volcamos en una lista de usuarios
usuarios = cursor.fetchall()

# Ahora podemos recorrer todos los usuarios
for usuario in usuarios:
    print(usuario)

conexion.close()

(1, '11111111A', 'Hector', 27, 'hector@ejemplo.com')
(2, '22222222B', 'Mario', 51, 'mario@ejemplo.com')
(3, '33333333C', 'Mercedes', 38, 'mercedes@ejemplo.com')
(4, '44444444D', 'Juan', 19, 'juan@ejemplo.com')

#Consultas SQL intermedias
##Consulta con WHERE
Una vez contamos con algún campo que nos sirva de identificador único, podemos realizar consultas específicas utilizando la cláusula WHERE:

In [18]:
import sqlite3

conexion = sqlite3.connect('usuarios_autoincremental.db')
cursor = conexion.cursor()

# Recuperamos un registro de la tabla de usuarios
cursor.execute("SELECT * FROM usuarios WHERE id=1")

usuario = cursor.fetchone()
print(usuario)

conexion.close()

(1, '11111111A', 'Hector', 27, 'hector@ejemplo.com')

In [24]:
conexion = sqlite3.connect('usuarios_autoincremental.db')
cursor = conexion.cursor()

# Recuperamos un registro de la tabla de usuarios
cursor.execute("SELECT nombre, edad, email FROM usuarios "
    "WHERE dni='22222222B'")

usuario = cursor.fetchone()
print(usuario)

conexion.close()

('Mario', 51, 'mario@ejemplo.com')

#Modificación con UPDATE
De forma similar al SELECT podemos utilizar la cláusula:

- **UPDATE** tabla
- **SET** columna1 = valor1, columna2 = valor2...., columnaN = valorN
- **WHERE** [condicion]

In [26]:
import sqlite3

conexion = sqlite3.connect('usuarios_autoincremental.db')
cursor = conexion.cursor()

# Actualizamos un registro
cursor.execute("UPDATE usuarios SET nombre='Hector Costa' "
    "WHERE dni='11111111A'")

# Ahora lo consultamos de nuevo
cursor.execute("SELECT * FROM usuarios WHERE dni='11111111A'")
usuario = cursor.fetchone()
print(usuario)

conexion.commit()
conexion.close()

(1, '11111111A', 'Hector Costa', 27, 'hector@ejemplo.com')

**Importantísimo: No olvidar la cláusula WHERE o podéis acabar actualizando todos los registros**

#Borrado con **DELETE**
Finalmente, para borrar un registro a partir de su id o campo único:

**DELETE FROM** tabla **WHERE** [condicion]

In [27]:
import sqlite3

conexion = sqlite3.connect('usuarios_autoincremental.db')
cursor = conexion.cursor()

# Creamos un registro de prueba
cursor.execute("INSERT INTO usuarios VALUES " \
    "(null, '55555555E', 'Fernando', 31, 'fernando@ejemplo.com')")

# Consultamos los usuarios
for usuario in cursor.execute("SELECT * FROM usuarios"):
    print(usuario)

# Ahora lo borramos
cursor.execute("DELETE FROM usuarios WHERE dni='55555555E'")

print() # Espacio en blanco

# Consultamos de nuevo los usuarios
for usuario in cursor.execute("SELECT * FROM usuarios"):
    print(usuario)

conexion.commit()
conexion.close()

(1, '11111111A', 'Hector Costa', 27, 'hector@ejemplo.com')
(2, '22222222B', 'Mario', 51, 'mario@ejemplo.com')
(3, '33333333C', 'Mercedes', 38, 'mercedes@ejemplo.com')
(4, '44444444D', 'Juan', 19, 'juan@ejemplo.com')
(5, '55555555E', 'Fernando', 31, 'fernando@ejemplo.com')

(1, '11111111A', 'Hector Costa', 27, 'hector@ejemplo.com')
(2, '22222222B', 'Mario', 51, 'mario@ejemplo.com')
(3, '33333333C', 'Mercedes', 38, 'mercedes@ejemplo.com')
(4, '44444444D', 'Juan', 19, 'juan@ejemplo.com')

#No te olvides el **WHERE**
En SQL es posible realizar actualizaciones y borrados en masa, pero las dos últimas son un poco peligrosas. Sin embargo realizarlas es tan sencillo como olvidarnos la cláusula WHERE en el UPDATE o el DELETE.

In [28]:
import sqlite3

conexion = sqlite3.connect('usuarios_autoincremental.db')
cursor = conexion.cursor()

# Borramos sin el WHERE
cursor.execute("DELETE FROM usuarios")

# Consultamos de nuevo los usuarios
usuarios = cursor.execute("SELECT * FROM usuarios").fetchall()
print(usuarios)

conexion.commit()
conexion.close()

[]

#Más por aprender
SQL es un lenguaje muy extenso con muchísimas posibilidades.

Como esta unidad no deja de ser una introducción, te animo a seguir aprendiendo por tu cuenta conceptos tan importantes como:

- **Consultas avanzadas**: or, and, like, join
- **Funciones simples**: count, group by, distinct
- **Funciones avanzadas**: sum, avg, min, max
- **Manejo de fechas**: date, year, month, day
- **Relaciones y claves foráneas**